@font-face {
  font-family: 'Alef Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Alef-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Alef Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Alef-Bold.woff') format('woff');
}