/** {*/
     /*direction: rtl;*/
 /*}*/

.creditCardNumber input[type=number] {
    direction: ltr !important;
}

.card_number_full input[type=number] {
	padding-left: 50px;
}

input[type=number], input[type=tel] {
    direction: ltr !important;
}

form fieldset input, textarea {
    padding-left: 50px;
}

.mfp-content .white-popup-nav {
    text-align: left !important;
}