#floatingBarsG {
    position: relative;

    width: 40px;
    height: 50px;
}

.blockG {
    position: absolute;

    width: 6px;
    height: 16px;

    -webkit-transform: scale(.4);
            transform: scale(.4);
    -webkit-animation-name: fadeG;
            animation-name: fadeG;
    -webkit-animation-duration: .8800000000000001s;
            animation-duration: .8800000000000001s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;

    -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
    background-color: #fff;
}

#rotateG_01 {
    top: 18px;
    left: 0;

    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-animation-delay: .33s;
            animation-delay: .33s;
}

#rotateG_02 {
    top: 6px;
    left: 5px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation-delay: .44000000000000006s;
            animation-delay: .44000000000000006s;
}

#rotateG_03 {
    top: 2px;
    left: 17px;

    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-delay: .55s;
            animation-delay: .55s;
}

#rotateG_04 {
    top: 6px;
    right: 5px;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation-delay: .66s;
            animation-delay: .66s;
}

#rotateG_05 {
    top: 18px;
    right: 0;

    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation-delay: .7700000000000001s;
            animation-delay: .7700000000000001s;
}

#rotateG_06 {
    right: 5px;
    bottom: 5px;

    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-animation-delay: .8800000000000001s;
            animation-delay: .8800000000000001s;
}

#rotateG_07 {
    bottom: 0;
    left: 17px;

    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation-delay: .99s;
            animation-delay: .99s;
}

#rotateG_08 {
    bottom: 5px;
    left: 5px;

    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

@-webkit-keyframes fadeG {
    0% {
        background-color: #259654;
    }

    100% {
        background-color: #fff;
    }
}

@keyframes fadeG {
    0% {
        background-color: #259654;
    }

    100% {
        background-color: #fff;
    }
}
