* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none !important;
    border: none;
    font-family: 'Alef Hebrew', arial;
    vertical-align: top;
    text-decoration: none;
    -webkit-appearance: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.clear {
    clear: both
}

.c:before, .c:after {
    content: " ";
    display: table
}

.c:after {
    clear: both
}

.c {
    *zoom: 1
}

.c {
    clear: both;
}

a, input, .tr {
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear
}

body {
    cursor: default;
    font-size: 90%;
    background: #e7e3d1;
    padding: 90px 0 0 0
}

img {
    /*max-width: 100%*/
}

header {
    height: 90px;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 500
}

.logo {
    margin: 10px auto 0 auto;
    display: inline-block
}

header a.menu {
    font-size: 70px;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: #333
}

header a.back {
    font-size: 70px;
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
    color: #000;
}

section {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    direction: rtl
}

body.home {
    padding: 0
}

.biglogo {
    display: block;
    margin: 20px auto
}

.homebtns {
    margin: 50px 0
}

.homebtns a {
    margin: 0 5px;
    padding-top: 40px;
    padding-bottom: 40px
}

.homebtns {margin:50px 0 10px 0}
.homebtns a {margin:0 2px;padding-top:40px;padding-bottom:40px;border-radius:10px;color:#fff}
.homebtns a.go-facebook {background:#3b5998;box-shadow:0 4px 0 #324b81;/*border:1px #324b81 solid*/}
.homebtns span {
    color:#fff;
    font-size: 95%;
}
.homebtns i {color:#fff;margin:0 10px}
.homebar {border-radius:20px;overflow:hidden;text-align:center;box-shadow:0 2px 0 rgba(0,0,0,0.2);margin:40px 0 20px 0}
.homebar figure {float:right;width:33.33333333333333%}
.homebar a {display:block;padding:20px 0;color:#343434;font-size:1.5em}
.homebar figure:first-child a {background:#e4e1d7}
.homebar figure:nth-child(2) a {background:#f1eee3}
.homebar figure:last-child a {background:#fff;color:#209251}

.home-check {margin:0 auto}
.home-check.checkbox label:before {width:70px;height:70px;line-height:70px}
.home-check.checkbox label {padding:0 100px 0 0;font-size:170%;line-height:100%}
.home-check a {color:#2969b0;border-bottom:1px rgba(41,105,176,0.3) solid}
.home-check span {clear:both;margin:0 100px 0 0;display:block;font-size:170%}

.go-register {
    color: #444
}

/*.go-register i {
    color: #1c8d4d
}*/

/*.go-facebook span {
    color: #3b5998
}*/

.home-check {
    margin: 0 auto
}

.home-check.checkbox label:before {
    width: 70px;
    height: 70px;
    line-height: 70px
}

.home-check.checkbox label {
    padding: 0 100px 0 0;
    font-size: 200%;
    line-height: 90%
}

.home-small-button {
    clear: both
}

.home-small-button a {
    display: inline-block;
    float: left;
    color: #404041;
    font-size: 140%;
    border-bottom: 1px rgba(64, 64, 65, 0.5) solid;
    margin: 0 1em 0 0;
    vertical-align: bottom
}

.home-small-button a.color-green {
    color: #41a85f;
    border-bottom-color: #41a85f;
    font-weight: bold
}

.half {
    float: right;
    width: 50%;
}

.half2 {
    float: right;
    width: 50%;
}

.color-green {
    color:#41a85f
}

.color-red {
    color:#e14938
}

form {
    margin: 20px 0;
    padding: 0 0 20px 0
}

h2 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #404041;
    margin: 20px;
    text-align: center
}

h2:before, h2:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #979490;
    z-index: -1;
    position: relative;
    vertical-align: middle
}

h2:before {
    margin: 0 -100% 0 0;
    left: 20px;
    right: auto;
}

h2:after {
    margin: 0 0 0 -100%;
    right: 20px;
    left: auto;
}

body[direction="ltr"] h2:before {
    margin: 0 0 0 -100%;
    right: 20px;
    left: auto;
}

body[direction="ltr"] h2:after {
    margin: 0 -100% 0 0;
    left: 20px;
    right: auto;
}

section > p {
    font-size: 140%;
    text-align: center;
    margin: 10px
}

h3.category-header {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 20px 10px;
    color: #333;
    padding: 5px 0;
    font-size: 150%
}

h3.category-header:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 10px;
    z-index: -1;
    position: relative;
    vertical-align: middle;
    border-top: 1px #aaa solid;
    border-bottom: 1px #aaa solid;
    right: 10px;
    margin: 0 0 0 -100%
}

h3.category-header i {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #fff;
    font-size: 100%;
    background: #49ba6f;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 0 #1d8f4e;
    text-align: center;
    font-weight: normal
}

body[direction="ltr"] h3.category-header:after {
    margin: 0 -100% 0 0;
    left: 10px;
    right: auto;
}

body[direction="ltr"] h3.category-header i {
    margin: 0 10px 0 0;
}

/*add by elad*/
.greenButton {
    background: #259654 !important;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 0 #0b612b;
    margin: 20px 0;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -4px;
    color: #fff;
    font-size: 200%;
    border: none;
}
.greenButton.location {
    width: 226px;
    font-size: 140%;
    margin: 8px auto;
    text-align: center;
    padding: 0;
}

.greenButton:hover {
    top: 0;
    box-shadow: 0 0 0 #0b612b;
    cursor: pointer;
}

.loaderImg {
    margin: auto;
    position: absolute;
    top: 50%;
}

.loaderDiv {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    display: block;
    z-index: 1000;
    background-color: white;
}

.loaderDiv #loaderText {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 50px;
    margin-left: -100px;
}
.preloader {
    position: absolute;
    left: 50%;
    top: 80%;
    margin-left: -25px;
    color: #29a960;
    font-size: 138%;
}
/*.required {}*/

form fieldset {
    position: relative;
    margin: 10px 10px 15px 10px
}

form fieldset label {
    font-size: 120%;
    display: block;
    color: #433f2c;
    margin: 0 0 3px 0;
    float: right;
}

form fieldset input,
textarea {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    border: 1px #c9c099 solid;
    clear: right;
    background: #f3f1e9;
    position: relative
}

form fieldset input:focus,
textarea:focus {
    border: 1px #827544 solid;
    background: #fff
}

form fieldset legend {
    float: left;
    color: #433f2c;
    display: block
}

form fieldset select {
    display: block;
    clear: both;
    position: relative
}

form fieldset input[type=submit] {
    background: #259654;
    box-shadow: 0 3px 0 #0b612b;
    border-color: #29a960;
    color: #fff;
    font-size: 130%;
    cursor: pointer;
    position: relative;
    position: relative;
    top: -3px
}

form fieldset input[type=submit]:hover {
    top: 0;
    box-shadow: 0 0 0 #0b612b
}

input.oops, textarea.oops, a.oops {
    border-color: #c0392b
}

form p {
    text-align: center
}

form p a {
    color: #433f2c;
    padding: 20px 0 10px 0;
    display: inline-block;
    border-bottom: 1px rgba(67, 63, 44, 0.5) solid;
    font-size: 140%
}

.terms {
    background: #fff;
    border: 1px #c9c099 solid;
    border-radius: 5px;
    height: 230px;
    overflow: auto;
    position: relative;
    clear: both;
    display: none;
    margin-bottom: 20px;
}

.terms p {
    font-size: 120%;
    margin: 20px;
    color: #433e23
}

.terms-close {
    color: #433f2c;
    padding: 10px 0 5px 0;
    display: none;
    border-bottom: 1px rgba(67, 63, 44, 0.5) solid;
    font-size: 140%;
    float: left;
    margin: 0 0 10px 0;
    cursor: pointer
}

input[type=url],
input[type=email],
input[type=number] {
    direction: ltr
}

.customSelect {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px #c9c099 solid;
    clear: right;
    background: #f3f1e9
}

.customSelect:after {
    content: 'd';
    font-family: "coupit";
    font-size: 200%;
    float: left;
    position: relative;
    top: 5px
}

.checkbox {
    clear: both;
    min-height: 40px
}

.checkbox label {
    position: relative;
    padding: 0 60px 0 0
}

.checkbox input[type=checkbox] {
    display: none
}

.checkbox input[type=radio] {
    display: none
}

.checkbox label:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 3px #bfbfb2 solid;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-family: 'coupit';
    font-size: 30px;
    position: absolute;
    top: -10px;
    right: 0
}

.checkbox input[type=checkbox]:checked + label:before {
    content: "c";
    color: #2ea45c
}

.checkbox input[type=radio]:checked + label:before {
    content: "c";
    color: #2ea45c
}

.more {
    background: #fff;
    display: block;
    border: 1px #c9c099 solid;
    border-radius: 5px;
    box-shadow: 0 2px 0 #b6ab7d;
    padding: 20px;
    position: relative;
    top: -2px;
    color: #454645;
    font-size: 140%
}

.more:hover {
    top: 0;
    box-shadow: 0 0 0 #b6ab7d
}

.more:before {
    content: 'l';
    display: block;
    font-family: 'coupit';
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 140%
}

.btnw {
    background: #fff;
    display: block;
    border: 1px #c9c099 solid;
    border-radius: 10px;
    box-shadow: 0 4px 0 #b6ab7d;
    margin: 20px 20px;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -4px;
    color: #454645;
    font-size: 200%
}

.facebookBtn {
    background: #475577;
    display: block;
    border: 1px #c9c099 solid;
    border-radius: 10px;
    box-shadow: 0 4px 0 #b6ab7d;
    margin: 20px 20px;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -4px;
    color: #fff;
    min-height: 23px;
    font-size: 120%
}

.btnw img {
    display: block;
    margin: 0 auto 20px auto
}

.btnw span {
    /*display: block*/
}

.btnw span i {
    display: inline-block;
    margin: 0 0 0 10px
}

.btnw:hover {
    top: 0;
    box-shadow: 0 0 0 #b6ab7d
}

.btng {
    background: #259654;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 0 #0b612b;
    margin: 20px 0;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -4px;
    color: #fff;
    font-size: 200%
}

.btng:hover {
    top: 0;
    box-shadow: 0 0 0 #0b612b
}

.btnb {
    background: #475577;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 0 #28324e;
    margin: 20px 0;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -4px;
    color: #fff;
    font-size: 200%
}

.btnb:hover {
    top: 0;
    box-shadow: 0 0 0 #28324e
}

.btnw.small, .btng.small, .btnb.small {
    padding: 10px;
    width: 50%;
    margin: 20px auto;
}

.link {
    display: inline-block;
    border-bottom: 1px rgba(64, 64, 64, 0.5) solid;
    color: #404040;
    font-size: 130%;
    margin: 10px
}

.link:hover {
    color: #000
}

.alignleft {
    float: left !important;
}

.upload-img {
    background: #fff;
    display: table;
    height: 300px;
    width: 100%;
    text-align: center;
    color: #3498db;
    font-size: 120%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

.upload-img span {
    display: table-cell;
    vertical-align: middle;
}

.goback {
    background: #f7f5f0;
    display: block;
    text-align: center;
    margin: 10px 0;
    box-shadow: 0 4px 0 #7d7342;
    border-radius: 5px;
    padding: 20px 40px;
    color: #979490;
    float: left;
    font-size: 130%
}

.goback:hover {
    background: #fff;
}

.slider {
    direction: ltr;
    margin-bottom: 30px
}

#range-slider {
    clear: both;
    width: 100%
}

.thecoupon {
    margin: 10px
}

.aligncenter {
    text-align: center
}

.data-table {
    margin-top: 10px;
    background: #edeadc;
    border: 1px #dfdac4 solid;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.data-table table {
    border-collapse: collapse;
    float: none;
    width: 100%
}

.data-table td {
    padding: 10px 20px;
    color: #564a32;
    font-size: 110%;
    position: relative;
    line-height: 100%
}

.data-table .even td {
    background: #f4f2ea
}

.data-table td > i {
    background: #b3a480;
    color: #fff;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: -2px 0 0 10px
}

.data-table td i.happy {
    background: #259654
}

.data-table td i.sad {
    background: #c0392b
}

body[direction="ltr"] .data-table td i {
    margin-left: 0px;
    margin-right: 10px;
}

.remove-comment {
    display: inline-block;
    background: #d14841;
    color: #fff;
    padding: 0 0 0 5px;
    font-size: 80%;
    white-space: nowrap;
    margin: 10px 0 0 0;
    line-height: 20px
}

body[direction="ltr"] .remove-comment {
    direction: rtl;
}

.remove-comment:hover {
    background: #b8312f
}

.remove-comment i, body[direction="ltr"] .remove-comment i {
    display: inline-block;
    padding: 0 5px;
    margin: 0 0 0 5px !important;
    background: rgba(0, 0, 0, 0.3)
}

.alert {
}

.alert span {
    display: block;
    margin: 5px 10px;
    font-size: 120%;
    background: #fff;
    padding: 5px 30px 5px 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative
}

.alert span:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-family: "coupit";
    color: #fff;
    font-size: 80%;
    border-radius: 50%;
    text-align: center;
    line-height: 20px
}

.alert span.ok {
    color: #259654
}

.alert span.error {
    color: #c0392b
}

.alert span.ok:before {
    content: 'c';
    background: #259654
}

.alert span.error:before {
    content: 'x';
    background: #e74c3c
}

.margin {
    margin: 0 10px
}

.cvv {
    position: relative;
    color: #3498db
}

.cvv:hover div,
.cvv:focus div {
    display: block
}

.cvv div {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    bottom: 140%;
    left: 50%;
    display: none
}

.cvv div.translated {
  left: 0px;
}

.cvv div:after {
    top: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.cvv div.translated:after {
    top: 100%;
    left: 5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: 10px;
}

.cvv div img {
    margin: 10px 20px
}

.settings-list {
    margin: 20px 0
}

.settings-list > h3 {
    border-bottom: 1px #c9c099 dashed;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    color: #454645;
    font-size: 200%;
    font-weight: normal;
    cursor: pointer;
}

.settings-list > h3:after {
    content: 'd';
    font-family: "coupit";
    font-size: 200%;
    position: absolute;
    top: 5px;
    left: 10px
}

.settings-list > h3 i {
    display: inline-block;
    margin: 0 10px 0 10px;
    color: #fff;
    font-size: 80%;
    background: #49ba6f;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 0 #1d8f4e;
    text-align: center;
    font-weight: normal;
}

body[direction="ltr"] .settings-list > h3 i {
    margin-left: 50px;
}

.settings-list > h3 + form {
    display: none
}





.settings-list-unautorized {
    margin: 20px 0
}

.settings-list-unautorized > h3 {
    border-bottom: 1px #c9c099 dashed;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    color: #454645;
    font-size: 200%;
    font-weight: normal;
    cursor: pointer;
}

.settings-list-unautorized a {
    color: #454645;
}


.settings-list-unautorized > h3 i {
    display: none;
    margin: 0 10px 0 10px;
    color: #fff;
    font-size: 80%;
    background: #49ba6f;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 0 #1d8f4e;
    text-align: center;
    font-weight: normal;
}

.settings-list-unautorized > h3 + form {
    display: none
}

.mycoupons > div {
    position: relative;
    margin: 10px 10px 60px 10px
}

.mycoupons > #coupons {
    position: relative;
    margin: 10px 10px 60px 10px;
    background: #edeadc;
}

.mycoupons-status {
    float: left;
    position: relative
}

.mycoupons-status span:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px 0 0 5px
}

.mycoupons-status.online span {
    color: #41a85f
}

.mycoupons-status.online span:before {
    background: #41a85f;
    box-shadow: 0 0 5px #61bd6d
}

.mycoupons-status.offline span {
    color: #b8312f
}

.mycoupons-status.offline span:before {
    background: #b8312f;
    box-shadow: 0 0 5px #eb6b56
}

.mycoupons-status.waiting span {
    color: #fba026
}

.mycoupons-status.waiting span:before {
    background: #fba026;
    box-shadow: 0 0 5px #fac51c
}

.mycoupons .data-table {
    border: 0;
    width: auto;
    margin: 0;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)
}

.mycoupons .data-table table {
    width: auto
}

.mycoupons-nav {
    background: red
}

.mycoupons-nav > a {
    display: block;
    float: left;
    width: 30%;
    background: #1f904f;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.mycoupons-nav > button {
    display: block;
    float: left;
    width: 30%;
    background: #1f904f;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.mycoupons-nav > a:hover {
    background: #49ba6f
}

.mycoupons-nav > div {
    float: right;
    width: 69%
}

.mycoupons-nav > div > a {
    display: block;
    float: right;
    width: 33.33%;
    line-height: 60px;
    color: #fff;
    font-size: 70%;
}

.mycoupons-nav > div > a:first-child {
    background: #3d8eb9
}

.mycoupons-nav > div > a:nth-child(2) {
    background: #475577
}

.mycoupons-nav > div > a:nth-child(3) {
    background: #d14841
}

.mycoupons-nav > div > a > i {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 5px;
    margin: 0 0 0 10px
}

.mycoupon-arrows a {
    display: block;
    text-align: center;
    background: #f8f7f1;
    margin: 10px;
    color: #666;
    padding: 15px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-bottom: 4px #ded9c0 solid;
    border-radius: 3px
}

.mycoupon-arrows a[disabled] {
    pointer-events: none;
    background-color: #f4f2ea;
}

.mycoupon-arrows a:hover {
    background: #fff;
    border-bottom-color: #e4e0cd
}

.mycoupons-nav-delay-confirm {
    background: #fff;
    text-align: center;
    position: relative
}

.mycoupons-nav-delay-confirm i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px
}

.mycoupons-nav-delay-confirm p {
    margin: 10px 20px;
    color: #666;
    font-size: 120%
}

.mycoupons-nav-delay-confirm a {
    display: block
}

.mycoupons-nav .mycoupons-nav-delay-confirm {
}

.usermycoupons > div {
    background: #f4f2ea;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.usermycoupons .data-table {
    box-shadow: none
}

.usermycoupons img {
    margin: 10px;
    width: 140px !important;
    border: 0;
}

.delayed-status {
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;
    display: block;
    padding: 10px 20px;
    color: #555
}

.delayed-status:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(204, 204, 204, 0);
    border-left-color: #ccc;
    border-width: 10px;
    margin-top: -10px;
}

.mycoupons > a {
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background: #f4f3ec;
    cursor: pointer;
    display: block
}

.mycoupons > a img {
    display: block;
    float: right;
    margin: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.mycoupons .data-table {
    border: 0;
    width: auto;
    margin: 0
}

.mycoupons .data-table table {
    width: auto
}

.mycoupon img {
    float: right;
    display: inline-block;
    margin: 10px 10px 10px 0
}

.mycoupon-menu {
    background: #fafafa;
    margin: 10px
}

.mycoupon-menu > a {
    display: block;
    padding: 0 0 0 10px;
    color: #555;
    white-space: nowrap;
    line-height: 100px;
    color: #fff;
    font-size: 140%
}

.mycoupon-menu > a > i {
    color: #fff;
    padding: 0 40px;
    margin: 0 0 0 40px
}

.mycoupon-menu > a:first-child {
    background: #16a085
}

.mycoupon-menu > a:first-child > i {
    background: #138c74
}

.mycoupon-menu > a:first-child:hover {
    background: #1abc9c
}

.mycoupon-menu > a:first-child + a {
    background: #2980b9
}

.mycoupon-menu > a:first-child + a > i {
    background: #2472a6
}

.mycoupon-menu > a:first-child + a:hover {
    background: #3498db
}

.mycoupon-menu > a:first-child + a + a {
    background: #c0392b
}

.mycoupon-menu > a:first-child + a + a > i {
    background: #9f3124
}

.mycoupon-menu > a:first-child + a + a:hover {
    background: #e74c3c
}

.mycoupon-menu > a:first-child + a + a + a {
    background: #404041
}

.mycoupon-menu > a:first-child + a + a + a > i {
    background: #2d2d2d
}

.mycoupon-menu > a:first-child + a + a + a:hover {
    background: #4e4e50
}

.mycoupons > div:hover {
    background: #fff
}

.mycoupon-menu > a:hover {
    background: #fff
}

.mycoupons > a > span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    top: auto;
    font-size: 120%;
    padding: 10px;
    margin: 0;
    background: #259654;
    color: #fff;
    border-radius: 5px
}

/*.mycoupons>div:hover {background:#fff}*/
.mycoupon-menu > a:hover {
    background: #fff
}

.mycoupons > a > span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    top: auto;
    font-size: 120%;
    padding: 10px;
    margin: 0;
    background: #259654;
    color: #fff;
    border-radius: 5px
}

.x-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #eb6b56;
    color: #fff;
    line-height: 25px;
    padding: 0 10px 0 0
}

.x-button i {
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    float: left;
    padding: 0 5px;
    margin: 0 5px 0 0
}

/*user-main*/
.user-main-buttons {
    margin: 20px 10px
}

.user-main-buttons a {
    display: block;
    background: #fcfbf8;
    margin: 2px 2px 5px 2px;
    text-align: center;
    padding: 15px 0
}

.user-main-buttons a img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 80%
}

.user-main-buttons a span {
    display: block;
    color: #454645;
    font-size: 160%
}

.user-main-buttons a:hover {
    background: #fff;
    box-shadow: 0 0 5px #fff
}

.user-main-coupons-count {
    color: #fff;
    display: block; /*background:url('../img/user-main-coupons-count.png');*/
    width: 108px;
    height: 106px;
    margin: 0 auto;
    line-height: 106px;
    font-weight: bold;
    letter-spacing: -1px
}

@font-face {
    font-family: "coupit";
    src: url("fonts/coupit.woff?v=2") format("woff");
    font-weight: normal;
    font-style: normal;
}

i {
    font-family: "coupit";
    font-style: normal;
    display: inline-block;
}

.customSelect {
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:15px 20px;
    border-radius:5px;
    border:1px #c9c099 solid;
    clear:right;
    direction: rtl;
    background: url('../img/acc-arrow-closed.png') 8px 15px no-repeat #f3f1e9;

}

.customSelect:active {
    background: url('../img/acc-arrow-opened.png')  8px 15px no-repeat #f3f1e9;
}

@media (max-width: 700px) {
    .card_number_split input {
        width: 22% !important;
        padding: 10px !important;
    }

    header {
        height: 60px;
    }

    body {
        padding: 0;
    }

    body.home {
        padding: 0
    }

    .logo img {
        height: 40px
    }

    header a.menu {
        font-size: 40px
    }

    header a.back {
        font-size: 40px;
        left: 5px
    }

    form fieldset input {
        font-size: 120%
    }

    .biglogo {
        width: 70%
    }

    .homebtns {
        margin: 50px 20px 5px 20px;
    }

    .homebtns a {
        padding: 15px
    }

    .btnw {
        font-size: 120%
    }

    .checkbox label {
        font-size: 110%
    }

    .home-small-button {
        margin: 20px auto 0 auto;
    }

    .home-small-button a {
        padding: 10px
    }

    .mycoupons > a img {
        float: none
    }

    .mycoupon-menu {
        clear: both
    }

    .home-check.checkbox label {
        font-size: 130%
    }

    .btng {
        font-size: 150%;
    }

    .biglogo {
        margin: 10px auto;
    }

    .homebar {
        margin: 17px 0 20px 0;
    }

    .homebar figure {
        margin: 6px auto;
    }

    .home-check.checkbox label {
        font-size: 136%;
    }

    .homebar a {
        padding: 15px 0;
    }

    .home-check span {
        font-size: 136% !important;
    }

    form.terms-check-form {
        margin: 0 !important;
        padding: 0 !important;
    }
    form.terms-check-form fieldset {
        margin: 1px 10px 5px 10px
    }

}

@media (max-width: 340px) {
    .mycoupons > div {
        width: 280px;
        margin: 20px
    }
}

.wrapper[data-role="page"] {
    display: none;
}

body[direction="ltr"] #user_near,
body[direction="ltr"] #user_near section {
    direction: rtl !important;
}

body[direction="ltr"] .mycoupons {
    direction: rtl;
}

body[direction="ltr"] section {
    direction: ltr;
}
.wrapper .main {
    margin: 59px 0 0 0;
}

#home_page {
    margin: 0 !important;
}
/*body[direction="ltr"], body[direction="ltr"] * {
    direction: ltr !important
}*/

/** Taken from layout **/

/*user-near*/
.near-top {
    background: #43b46b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0 0 0;
	max-height: 70px;
}

.near-top-update {
    float: right;
    color: #fff;
    font-size: 130%;
    line-height: 70px
}

.near-top-update i {
    font-size: 300%;
    margin: 0 0 0 5px
}

.near-top-edit {
    float: left;
    position: relative
}

.near-top-edit a {
    font-weight: bold;
    color: #fff;
    font-size: 140%;
    padding: 0 10px;
    line-height: 70px;
	max-height: 70px;
    display: inline-block;
    background: #75706b
}

.near-top-edit a:hover {
    background: #a38f84
}

.near-top-edit a i {
    margin: 0 0 0 10px
}

.near-top-edit form {
    position: absolute;
    left: 0;
    top: 100%;
    background: #404041;
    z-index: 100;
    padding: 20px 10px;
    margin: 0;
    margin: 20px 0 0 0;
    border-radius: 10px;
    box-shadow: 0 4px 0 #000;
    display: none
}

.near-top-edit form:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(64, 64, 65, 0);
    border-bottom-color: #404041;
    border-width: 15px;
    margin-left: -15px;
}

.near-top-update i:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.near-top-edit form > i {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    color: #aaa;
    width: 43px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    background: #383838;
    border-radius: 50%;
    border: 1px #333 solid;
    z-index: 102
}

.near-top-edit form > i:hover {
    background: #333;
    color: #fff
}

.near-top fieldset {
    margin: 0;
    position: relative
}

.near-top fieldset input {
    display: none
}

.near-top label {
    color: #ccc;
    display: block;
    white-space: nowrap;
    float: none;
    padding: 2px 60px 2px 10px;
    position: relative
}

.near-top label:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 20px;
    background: #333;
    border: 1px #000 solid;
    border-radius: 10px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px
}

.near-top label:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #5b5b5e;
    border: 1px #111 solid;
    border-radius: 50%;
    top: 7px;
    right: 26px;
    position: absolute;
    z-index: 101
}

.near-top input[type=checkbox]:checked + label:before {
    right: 8px;
    background: #43b46b;
    border-color: #32854f
}

.near-top input[type=checkbox]:checked + label:after {
    background: #fff
}

.near-top input {
}

.filter {
    float: left;
    display: block;
    background: #404041;
    color: #fff;
    line-height: 70px;
    padding: 0 20px;
    font-size: 110%
}

.filter:hover {
    background: #222
}

.filter i {
    margin: 0 0 0 20px;
    font-size: 180%
}

.filter-icons {
}

.filter-icons a {
    display: block;
    float: right;
    color: #fff;
    width: 25%;
    text-align: center;
    min-height: 90px
}

.filter-icons i {
    display: block;
    font-size: 140%;
    margin: 10px auto
}

.filter-icons span {
    display: block;
    margin: 0 0 10px 0;
    line-height: 90%
}

.filter-icons a:first-child {
    background: #41a85f
}

.filter-icons a:nth-child(2) {
    background: #f37934
}

.filter-icons a:nth-child(3) {
    background: #e14938
}

.filter-icons a:nth-child(4) {
    background: #3d8eb9
}

.filter-icons a:nth-child(5) {
    background: #fac51c
}

.filter-icons a:nth-child(6) {
    background: #00a885
}

.filter-icons a:nth-child(7) {
    background: #553982
}

.filter-icons a:nth-child(8) {
    background: #475577
}

.filter-icons a:nth-child(9) {
    background: #9365b8
}

.filter-icons a:nth-child(10) {
    background: #54acd2
}

.filter-icons a:nth-child(11) {
    background: #75706b
}

.filter-icons a:nth-child(12) {
    background: #a38f84
}

.near-items {
}

.near-slider {
    direction: ltr
}

.owl-item > div {
    position: relative
}

.near-slider-item {
    background: #fff;
    direction: rtl;
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 0 0 40px 0
}

.near-slider-item.ended {
    opacity: 0.5
}

.near-slider b {
    display: block;
    margin: 5px 10px;
    line-height: 100%;
    color: #111
}

.near-slider h3 {
    margin: 10px 10px 5px 10px;
    color: #000;
    border-bottom: 1px #ccc dashed;
    line-height: 90%;
    padding: 0 0 5px 0
}

.near-item-desc {
    display: block;
    margin: 10px;
    color: #666;
    line-height: 90%
}

.near-item-more {
    display: block;
    text-align: center;
    background: #f1efe4;
    color: #404041;
    padding: 10px 0;
    margin: 10px 5px 5px 5px;
    border-radius: 3px
}

.near-item-save {
    display: block;
    text-align: center;
    background: #1d8f4e;
    color: #fff;
    padding: 10px 0;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.near-item-save i {
    display: inline-block;
    margin: 0 0 0 5px
}

.near-item-save.saved i {
    color: #f7da64
}

.near-slider-bottom {
    position: relative
}

.near-slider-bottom i {
    display: block;
    position: absolute;
    left: 5px;
    bottom: 5px;
    background: #404041;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    text-align: center
}

.near-slider-bottom a:hover {
    background: #333
}

.near-price {
    font-size: 120%;
    margin: 0 10px;
    color: #666
}

.near-price-old {
    text-decoration: line-through;
    vertical-align: bottom;
    display: inline-block;
    padding: 0 0 5px 0
}

.near-price-old span {
    vertical-align: bottom
}

.near-price-new {
    font-size: 170%;
    vertical-align: bottom
}

.dots {
    margin: 10px 0;
    text-align: center
}

.dots a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #404041;
    margin: 0 0 0 5px;
    font-size: 0
}

.dots a.activeSlide {
    background: #43b46b
}

.benefit-slider {
    position: relative;
    z-index: 2;
}

body[direction="ltr"] .benefit-slider {
    direction: rtl;
}

.benefit-slider figure {
    /*width: 700px;*/
    height: 437px;
}

.benefit-slider-arrows {
    position: relative;
    top: 150px
}

.benefit-slider-arrows a {
    display: block;
    position: absolute;
    color: #fff;
    padding: 10px;
    z-index: 10;
    font-size: 250%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7)
}

.benefit-slider-arrows a#prev {
    right: 0
}

.benefit-slider-arrows a#next {
    left: 0
}

.benefit-image {
    position: relative;
    height: 390px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
}

.benefit-image img {
    width: 100%;
    max-height: 390px;
    position: relative;
    z-index: 1
}

.benefit-image > span {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    width: 100%;
    font-size: 160%;
    bottom: 0;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 2
}

.benefit-tag {
    background: url('../img/benefit-tag.png') no-repeat center bottom;
    width: 24%;
    height: 80%;
    position: absolute;
    left: 50px;
    bottom: 10px;
    z-index: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center
}

.benefit {
    margin: 0 0 40px 0
}

.benefit-tag > span {
    display: block;
    font-size: 170%;
    vertical-align: bottom;
    white-space: nowrap
}

.benefit-tag > span:first-child {
    margin: 20px 0 0 0
}

.benefit-tag > span:first-child + span {
    color: #fff;
    font-size: 230%
}

.benefit-tag > span:first-child span {
    text-decoration: line-through
}

.benefit-tag > span > span {
    font-size: 150%;
    font-weight: bold;
    display: inline-block;
    vertical-align: bottom;
    letter-spacing: -0.05em;
    font-family: arial
}

.benefitslideractions {
    margin: 0 0 5px 0;
}

.benefitslideractions>a {
    z-index: 3;
    float:right;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 140%;
}

.benefitslideractions>a#couponWantSlider {
    background:#43b46b;
    box-shadow: 0 5px 0 #1a1a19;
}

.benefitslideractions>a#couponDetailsSlider {
    background:#404041;
    box-shadow: 0 5px 0 #147034;
}

body[direction="ltr"] .benefit-tag {
}

.benefit-description {
    width: 64%;
    float: right
}

.benefit-description span {
    display: block;
    font-size: 160%;
    line-height: 90%;
    margin: 3%
}

.benefit-valid {
    width: 36%;
    float: left;
    text-align: left
}

.benefit-valid span {
    display: block;
    font-size: 130%;
    margin: 3%
}

.benefit-valid span:first-child + span {
    font-weight: bold;
    font-family: Arial
}

.benefit-actions {
    margin: 20px 0
}

.benefit-actions > div {
    float: right
}

.benefit-actions a {
    display: block;
    margin: 4px;
    text-align: center;
    border-radius: 5px;
    line-height: 50px;
    height: 50px;
    font-size: 130%
}

.benefit-actions-save {
    width: 30%
}

.benefit-actions-save a {
    background: #43b46b;
    box-shadow: 0 5px 0 #147034;
    color: #fff
}

.benefit-actions-save a:hover {
    background: #3ca260
}

.benefit-actions-save i {
    color: #9cdab1;
    margin: 0 0 0 10px;
    z-index: 999
}

.benefit-actions-save.clicked i {
    color: #f7da64
}

.benefit-actions-save a.clicked i {
    color: #f7da64
}

.benefit-actions-call {
    width: 30%
}

.benefit-actions-call a {
    background: #404041;
    box-shadow: 0 5px 0 #1a1a19;
    color: #fff
}

.benefit-actions-call a:hover {
    background: #323232
}

.benefit-actions-call i {
    margin: 0 0 0 10px
}

.benefit-actions-comments {
    width: 20%
}

.benefit-actions-comments a {
    background: #fff;
    box-shadow: 0 5px 0 #b2ae9c
}

.benefit-actions-comments span {
    display: inline-block;
    border: 2px #b1ad9b solid;
    line-height: 25px;
    margin: 10px 0 0 0;
    font-family: Arial;
    padding: 0 5px;
    position: relative;
    color: #b1ad9b;
    font-weight: bold
}

.benefit-actions-comments span:after, .benefit-actions-comments span:before {
    top: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.benefit-actions-comments span:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 5px;
    margin-left: -5px;
}

.benefit-actions-comments span:before {
    border-color: rgba(177, 173, 155, 0);
    border-top-color: #b1ad9b;
    border-width: 8px;
    margin-left: -8px;
}

.benefit-actions-share {
    width: 20%
}

.benefit-actions-share a {
    background: #fff;
    box-shadow: 0 5px 0 #b2ae9c;
    color: #b1ad9b
}

.benefit-business {
    background: #fff;
    position: relative;
    padding: 20px 0
}

.benefit-business-title {
    line-height: 80px;
    background: #fff
}

.benefit-business-title img {
    float: right;
    margin: 10px
}

.benefit-business-title span {
    font-weight: bold;
    font-size: 200%;
    letter-spacing: -0.07em
}

body[direction="ltr"] .benefit-business-title span {
    padding-left: 20px;
}

.benefit-business-about p {
    margin: 20px;
    color: #595543;
    font-size: 150%
}

.benefit-business-icons {
    float: left;
    width: 60%;
    font-size: 130%;
    margin: 20px 0
}

.benefit-business-icons div {
    float: right;
    width: 33.3%;
}

.benefit-business-icons a {
    text-align: center;
    display: block;
    margin: 5px;
    color: #fff;
    padding: 20px 0;
    min-height: 100px;
}

.benefit-business-icons a.benefit-business-icons-home {
    background: #6c6c6c
}

.benefit-business-icons a.benefit-business-icons-home:hover {
    background: #5f5f5f
}

.benefit-business-icons a.benefit-business-icons-map {
    background: #4d90fe
}

.benefit-business-icons a.benefit-business-icons-map:hover {
    background: #307dfe
}

.benefit-business-icons a.benefit-business-icons-facebook {
    background: #3b5998
}

.benefit-business-icons a.benefit-business-icons-facebook:hover {
    background: #31497d
}

.benefit-business-icons i {
    display: block;
    margin: 0 0 10px 0;
    font-size: 200%
}

.benefit-business-icons span {
    display: block
}

.benefit-business-hours {
    float: right;
    width: 40%;
    font-size: 130%
}

.benefit-business-hours b {
    display: block;
    margin: 20px 10px;
    color: #595543;
    font-size: 130%
}

.benefit-business-hours p {
    margin: 10px;
    color: #595543;
    line-height: 100%
}

.little-letters {
    margin: 20px
}

/*POPUP*/
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    text-align: right;
    direction: rtl;
    font-size: 110%
}

.white-popup-buttons {
    margin: 20px 0 0 0
}

.white-popup a.confirm {
    display: inline-block;
    color: #fff;
    background: #1f904f;
    padding: 5px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 0 #145c33;
    margin: 0 0 0 5px
}

.white-popup a.cancel {
    display: inline-block;
    color: #fff;
    background: #666;
    padding: 5px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 0 #111;
    margin: 0 0 0 5px
}

.white-popup-share {
}

.white-popup-share a {
    float: right;
    width: 50%;
    line-height: 100px;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 120%
}

.white-popup-share div:first-child a:first-child {
    background: #3b5998
}

.white-popup-share div:first-child a:nth-child(2) {
    background: #d14841
}

.white-popup-share div:nth-child(2) a:first-child {
    background: #61bd6d
}

.white-popup-share div:nth-child(2) a:nth-child(2) {
    background: #41a85f
}

.white-popup p {
    color: #666;
    font-size: 120%
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: .8;
    filter: alpha(opacity=80)
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.mfp-align-top .mfp-container:before {
    display: none
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto
}

.mfp-ajax-cur {
    cursor: progress
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
    cursor: auto
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.mfp-loading.mfp-figure {
    display: none
}

.mfp-hide {
    display: none !important
}

.mfp-preloader {
    color: #ccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -.8em;
    left: 8px;
    right: 8px;
    z-index: 1044
}

.mfp-preloader a {
    color: #ccc
}

.mfp-preloader a:hover {
    color: #fff
}

.mfp-s-ready .mfp-preloader {
    display: none
}

.mfp-s-error .mfp-content {
    display: none
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #fff;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100)
}

.mfp-close:active {
    top: 1px
}

.mfp-close-btn-in .mfp-close {
    color: #333
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px
}

.mfp-arrow {
    position: absolute;
    opacity: .65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.mfp-arrow:active {
    margin-top: -54px
}

.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100)
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: .7
}

.mfp-arrow-left {
    left: 0
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #fff;
    margin-left: 31px
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f
}

.mfp-arrow-right {
    right: 0
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #fff;
    margin-left: 39px
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px
}

.mfp-iframe-holder .mfp-close {
    top: -40px
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000
}

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0;
    margin: 0 auto
}

.mfp-figure {
    line-height: 0
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px
}

.mfp-figure figure {
    margin: 0
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px
}

.mfp-image-holder .mfp-content {
    max-width: 100%
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer
}

/*COMMENTS*/
.comments-mood {
    position: relative;
    top: -25px
}

.comments-mood div {
    float: right;
    width: 33.33%
}

.comments-mood input {
    display: none
}

.comments-mood label {
    text-align: center
}

.comments-mood label span {
    line-height: 90%;
    display: inline-block
}

.comments-mood label i {
    font-size: 450%;
    padding: 10px 10px;
    border: 1px rgba(0, 0, 0, 0) solid
}

.comments-mood label[for='sad'] {
    color: #c0392b
}

.comments-mood label[for='happy'] {
    color: #259654
}

.comments-mood input[type=radio]:checked + label {
    background: #fff;
    border: 1px #a39d81 solid
}

.comments-list {
    margin: 10px 20px
}

.comments-list div {
    background: #fff;
    line-height: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    position: relative
}

.comments-list div.even {
    background: #f4f2ea
}

.comments-list div:after {
    top: 30px;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(171, 165, 138, 0);
    border-top-color: #aba58a;
    border-width: 5px;
    margin-left: -5px;
}

.comments-list div.happy:before {
    content: 'A';
    font-family: 'coupit';
    position: absolute;
    top: 0;
    right: 10px;
    color: #259654;
    display: block;
    font-size: 40px
}

.comments-list div.sad:before {
    content: 'z';
    font-family: 'coupit';
    position: absolute;
    top: 0;
    right: 10px;
    color: #c0392b;
    display: block;
    font-size: 40px
}

.comments-list p {
    padding: 0 60px;
    color: #4f4f4f
}

.comments-list div.open {
    overflow: visible;
    height: auto;
    line-height: normal
}

.comments-list div.open p {
    padding: 20px 60px
}

i {
    font-family: "coupit";
    font-style: normal;
    display: inline-block
}

body[direction="ltr"] #general_view .coupon {
    direction: ltr;
}

body[direction="ltr"] #general_view .coupon .half {
    /*float: left;*/
}

body[direction="ltr"] #general_view .mycoupons-nav > div > a > i {
    margin: 0px 10px 0px 0px;
}

body[direction="ltr"] .white-popup {
    direction: ltr;
}

.whole_menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    text-align: left;
    margin-top: 100px;
}

.whole_menu li {
    font-size: 18px;
}

.whole_menu li {
    font-size: 18px;
}

/*.whole_menu_button {display: block; position: absolute; background: url('../img/sitemap.png'); width: 90px; height: 90px; margin-left: 200px;}*/

.mm-fixed-top i {
    width: 40px;
    height: 44px;
    text-align: left
}

@media (max-width: 600px) {
    body {
        zoom: 0.8;
    }
}

@media (max-width: 360px) {
    body {
        zoom: 1;
    }

    .coupon .half {
        width: 100%;
        padding: 20px;
        clear: both;
        float: none;
        box-sizing: border-box;
    }

    .coupon .half img {
        width: 100%;
        margin: 0px;
    }

    .mycoupons-nav > a {
        line-height: 25px;
        padding: 5px 0px;
    }

    .mycoupons-nav-icons a span {
        display: none;
    }

    .owl-item div {
        zoom: 0.9;
    }

    .near-top-update span,
    .near-top-edit a span,
    a.filter span {
        display: none;
    }

    a.filter i,
    .near-top-edit a i {
        margin: 0 !important;
    }

    .filter-icons span {
        display: none;
    }

    .filter-icons a {
        min-height: 60px;
    }

    .filter-icons i {
        line-height: 40px;
    }

    .mfp-close {
        width: 22px;
        height: 22px;
        line-height: 22px;
    }

    .benefit-tag {
        width: 33%;
        right: 10px !important;
    }
}

/*body[direction="ltr"] .near-items .near-slider,
body[direction="ltr"] .near-items .near-slider *,
body[direction="ltr"] .all_coupons .near-slider,
body[direction="ltr"] .all_coupons .near-slider * {
    direction: rtl !important;
}*/

.home-small-button a.already_in_button {
    margin-top: 20px;
    margin-bottom: 20px;
}

form fieldset.valid input,
form fieldset.valid textarea {border-color:#1d8f4e;box-shadow:0 0 5px #45b56b;color:#1d8f4e}
form fieldset.valid:after {content:'p';position:absolute;bottom:15px;font-family:'coupit';color:#49ba6f;font-size:200%}
form fieldset.valid label {color:#1d8f4e}
form fieldset.invalid input,
form fieldset.invalid textarea{border-color:#c0392b;box-shadow:0 0 5px #e74c3c;color:#c0392b}
form fieldset.invalid:after {content:'o';position:absolute;bottom:15px;font-family:'coupit';color:#e74c3c;font-size:200%}
form fieldset.invalid label {color:#c0392b}

body[direction="ltr"] form fieldset.valid:after,
body[direction="ltr"] form fieldset.invalid:after {
    right: 15px;
}

body[direction="rtl"] form fieldset.valid:after,
body[direction="rtl"] form fieldset.invalid:after {
    left: 15px;
}

body[direction="ltr"] .user-main-buttons .half:nth-child(1),
body[direction="ltr"] .benefit-actions > div,
body[direction="ltr"] .benefit-business-title img,
body[direction="ltr"] .benefit-description,
body[direction="ltr"] .benefit-business-hours,
body[direction="ltr"] .benefit-business-icons div,
body[direction="ltr"] .mycoupons-nav > div,
body[direction="ltr"] .mycoupons-nav > div > a,
body[direction="ltr"] #coupon_limit_form label,
body[direction="ltr"] #createCouponForm,
body[direction="ltr"] #createCouponForm > div > .half:nth-child(1),
body[direction="ltr"] .homebtns .half:nth-child(1),
body[direction="ltr"] .homebar figure {
    float: left;
}

body[direction="ltr"] .user-main-buttons .half:nth-child(2),
body[direction="ltr"] .benefit-business-icons,
body[direction="ltr"] .benefit-valid,
body[direction="ltr"] .alignleft,
body[direction="ltr"] .mycoupons-nav > a,
body[direction="ltr"] .mycoupons-nav > button,
body[direction="ltr"] #coupon_limit_form legend,
body[direction="ltr"] #coupon_limit_form .checkbox label,
body[direction="ltr"] #createCouponForm > div > .half:nth-child(2),
body[direction="ltr"] .homebtns .half:nth-child(2),
body[direction="ltr"] .home-small-button {
    float: right;
}

body[direction="ltr"] form fieldset label {
    float: left;
}

#messagesSettingsSubmit label {
    float: none;
}

body[direction="ltr"] form fieldset legend {
    float: right;
}

body[direction="ltr"] .checks label {
    float: none;
}

#coupon_limit_form .checkbox label {
    width: 80%;
}

body[direction="ltr"] .benefit-valid {
    text-align: right;
}

body[direction="ltr"] .near-top-update {
	padding-right: 20px;
}

.home-small-button a.already_in_button {
    margin-top: 20px;
    margin-bottom: 20px;
}

body.android i {
    /*padding-right: 0.75em;*/
}

body.android h3.category-header i {
    padding-right: 0em;
    letter-spacing: 15px;
}

.loading #loaderImg {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

.loading.puls #loaderImg {
    -webkit-animation: puls_loader 1s ease-out;
    -webkit-animation-iteration-count: infinite;
}

#mp_popup #text,
#mp_popup_ok #text {
    margin-bottom: 20px;
}

.checks {padding:20px 0 0 0}
.checks input[type=checkbox] {display:none}
.checks label {
    position: relative;
    display: block;
    float: none;
    padding: 0 40px 0 0;
    color: #6f7054;
    direction: rtl !important;
}
.checks label:before {
    content: '';
    display: block;
    background: #f3f1e9;
    width: 20px;
    height: 17px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 3px 0 #c9c099;
    border-radius: 50%;
    border: 1px #dcd7be solid;
    cursor: pointer;
}
.checks input:checked+label:before {
    background: #1f904f;
    box-shadow: 0 3px 0 #166738;
    border-color: #49ba6f;
}
body[direction=ltr] .checks label {
    padding: 0 0 0 40px;
    direction: ltr !important;
}
body[direction=ltr] .checks label:before {
    right: auto;
    left: 0;
}
.checks-error {display:none;font-size:130%;background:#d14841;padding:10px;position:relative;color:#fff;margin:10px 0 0 0}
.checks-error i {display:inline-block;float:left;cursor:pointer}
.hascustom+input {display:none;margin:10px 0 0 0}

.lesson {display:inline-block;margin:0 10px 0 0;position:relative;z-index:500;float:left}
.lesson>i {display:inline-block;color:#fff;width:30px;text-align:center;line-height:30px;background:#299a57;border-radius:50%;cursor:pointer}
.checkbox .lesson {float:none;position:absolute;left:0;top:0}

.checkbox {clear:both;min-height:40px;position:relative}
.checkbox label {
    position:relative;
    padding:0 70px 0 0;
}
.checkbox input[type=checkbox] {display:none}
.checkbox input[type=radio] {display:none}
.checkbox label:before {content: "";display: inline-block;width:30px;height:30px;background:#fff;border:3px #bfbfb2 solid;border-radius:50%;line-height:30px;text-align: center;cursor:pointer;font-family:'coupit';font-size:30px;position:absolute;top:-5px;right:0}
.checkbox input[type=checkbox]:checked + label:before {content: "c";color:#2ea45c}
.checkbox input[type=radio]:checked  + label:before {content: "c";color:#2ea45c}
.checkbox+.btnw {margin-top:0}

#location_map {display: none; opacity: 0; height: 500px;}
#location_map img {display: block; position: relative; margin: 10px auto;}

body[direction="ltr"] .home-check.checkbox label {
    padding: 0 0 20px 100px;
}

body[direction="ltr"] .home-check.checkbox label:before {
    right: auto;
    left: 0px;
}

.profile_id {
    font-size: 18px;
    padding: 0px 0px 0px 10px;
    line-height: 40px;
}



/* Loader pulsing animation */
/* Chrome, Safari, Opera */
@-webkit-keyframes puls_loader {
    0% {-webkit-transform: scale(0.9, 0.9); opacity: 0.4;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
}

/* Standard syntax */
/*@keyframes puls_loader {
    0% {-webkit-transform: scale(0.5, 0.5); opacity: 0.4;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
}*/

@media (max-width: 540px) {

    .data-table td {
        padding: 8px 4px;
        font-size: 100%;
    }


    body[direction="ltr"] .near-top-update {
        padding-right: 10px;
    }


    .near-top-update span {
        right: -30px;
        position: absolute;
        width: 100px;
    }
    .near-top-update > span {
        display: block;
        position: absolute;
        top: 11px;
        right: 80px;
        font-size: 80%;
    }

    .near-top-update .refreshed_time {
        font-size: 80%;
        right: 24px !important;
        position: absolute;
        top: 0;
        width: 50px;
    }

    .saved_coupons {
        font-size: 120%;
        margin-top: 27px !important;
    }

    .saved_coupons i + span,
    .expiring_coupons i + span {
        padding: 0 5px;
     }

    .expiring_coupons {
        font-size: 120%;
    }

    .user-main-buttons .goto_page {
        min-height: 190px;
    }

    .benefit-business-icons i {
        text-align: center;
        margin: 0 auto;
    }

    .benefit-business-icons span {
        display: none;
        word-break: break-all;
    }

    .benefit-business-icons a {
        min-height: 40px;
    }

    .benefit-actions-save a {
        font-size: 74%;
    }

    .benefit-actions-save i {
        margin-left: 0;
        padding-left: 2px;
    }

    .benefit-actions-save a span {
        padding: 0 5px;
    }

    .benefit-actions-call a {
        font-size: 74%;
    }

    .benefit-actions-call i {
        margin-left: 0;
    }

    .benefit-actions-call a span {
        padding: 0 5px;
    }

    .add_comment_form .submit {
        font-size: 73%;
        padding: 21px 0px;
    }

    .comments-mood {
        top: 10%;
    }

    .comments-mood span {
        display: none !important;
    }

    .comments-mood label {
        font-size: 71%;
        border-radius: 4px;
    }

    .comments-mood label i {
        padding: 0;
    }

    .near-slider b {
        min-height: 55px;
    }

    body[direction=ltr] .checks label {
        font-size: 10px;
        padding: 6px 0 0 40px;
    }

    .settings-list {
        margin: 0;
    }

    .settings-list > h3 span {
        font-size: 55%;
    }

    body[direction="ltr"] .settings-list > h3 i {
        margin-top: -10px;
    }
    .settings-list > h3:after {
        top: 1px;
    }

    .profile_id {
        position: absolute;
        left: 18%;
        top: 44px;
    }

    #coupon_limit_form .checkbox label {
        padding: 0 28px 0 0;
    }

    .lesson {
        z-index: 0;
    }

    .benefit-tag {
        display: table;
        margin-right: 60px;
    }

    .near-item-save i {
        margin-right: 10px;
    }

    .homebar {
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .homebar figure {
        display: block;
        width: 90%;
        margin: 10px auto;
        float: none !important;
        box-shadow: 0 2px 0 rgba(0,0,0,0.2);
    }

    .homebar figure, .homebar figure a {
        border-radius: 20px;
    }

    /*.near-top-update i {*/
        /*border: 1px solid red;*/
    /*}*/
}

.working_hours .checks input.times {
    width: 60px;
    padding: 10px;
}

.working_hours .checks span {
    line-height: 40px;
}

#home_page input:focus {
    outline: none;
}

.more.show_map:before {
    content: '';
}

.card_number_split {
    text-align: center;
}
.card_number_split input {
    width: 24.5%;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}

.card_number_full input {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 2px;
}

#temp_storage,
#logo_preview {
    display: none;
}

#facebookAuthorization {
    display: none;
}

#log {
    /*width: 100%;*/
    /*height: 80px;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*background: #fff;*/
    /*border-top: 1px solid green;*/
    /*overflow: scroll;*/
}

#logout {
    position: absolute;
    top: 15px;
    left: 66%;
}
#logout a {
    color: green;
}
#logout:active {
    /*border: 1px solid red;*/
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 1px 0 0 1px;
}

.payment_agree_to_receive_emails {
    margin: 7px;
}



.termsandconditions {
    height:100%;
    margin:20px 0
}
.termsandconditions p {
    margin:20px;
    color:#5b5844;
    line-height:110%
}
.termsandconditions > figure {
    height:45vh;
    position:relative;
    background:#ebe8da
}
.termsandconditionsContent {
    height:100%;
    overflow-x:auto;
    padding:40px 0 0 0;
    position:relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box
}

.termsandconditions h4 {
    position: absolute;
    color: #1c8e4e;
    font-size: 110%;
    line-height: 40px;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: #efede2;
    border-bottom: 1px #dad3b8 solid;
    z-index: 200;
}


#homePageLink {
    margin: 18px 0 0 10px;
    padding: 0;
    width: 100%;
    text-align: left;
    height: 38px;
}
#homePageLink a {
    color: #454645;
    font-size: 100%;
}
#homePageLink:hover{
    cursor: pointer;
}
#allSettings, .settings-list {
    margin-top: 45px;
}

#noBenefits {
    text-align: center;
    margin: 40px;
    font-size: 150%;
}

body[direction="rtl"] .dayOff{
    float:left;
}
.card_number_split{
	direction: ltr;
}

.general_area {
    display: none;
}

#manualCoords {
    display: none;
}

#mp_popup_set_manually > div {
    width: 100%;
}

#mp_popup_set_manually input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    border: 1px #c9c099 solid;
    clear: right;
    background: #f3f1e9;
    position: relative;
    margin: 10px 0;
}

.set-marker {
    text-align: center;
    margin: 5px 0;
}

.half.dayOff {
    font-size: 75%;
}
.half .saturday-block {
    margin-top: 47px;
}

/* MESSAGES PAGE */

.mymessages {margin:20px}
.mymessages a {background:#fff;padding:0 60px 0 0;position:relative;overflow:hidden;display:block}
.mymessages a.iread {opacity:0.3}
.mymessages a:nth-of-type(2n+1) {background:#f4f2ea}
.mymessages a:before {content:'Q';font-family:'coupit';position:absolute;top:20px;right:20px;font-size:2em;color:#299956}
.mymessages a.iread:before  {color:#4f4f4f}
.mymessages p {margin:20px;font-size:1.1em;color:#4f4f4f}