<div class="main">
    <section class="clearfix">
        <div class="user-main-buttons clearfix">
            <a class="c" href="javascript:void(0);" id="existing_payments">
                <img alt="" src="img/existing-charge.png">
                <span data-t="existing_payments"></span>
            </a>
            <a class="c" href="javascript:void(0);" id="new_payment">
                <img alt="" src="img/new-charge.png">
                <span data-t="new_payment_method"></span>
            </a>
        </div>
        <div class="margin">
            <a href="javascript:void(0);" class="goback skip" data-t="skip">דלג</a>
        </div>
    </section>
</div>