<div class="main">
    <section class="clearfix" id="coupons-page">

        <% if (data.coupons) { %>
            <section class="clearfix">
                <div class="c">
                    <a class="link alignleft goto_page" href="#main" data-t="home_page"></a>
                </div>
            </section>

            <% data.coupons.forEach(function(coupon) { %>
                <section class="c coupon" id="coupons" data-id=<%- coupon._id %> >
                    <div class="clearfix">
                        <div class="data-table">
                            <table align="left" style="width: 100%;">
                                <tr class="even">
                                    <td data-t="number">מספר</td>
                                    <td>
                                        <%- coupon.couponNumber %>
                                        <% if (coupon.status === 'inProcess' ) {  %>
                                            <div class="mycoupons-status offline"><span>מושהה</span></div>
                                        <% } %>

                                        <% if (coupon.status === 'onAir' ) {  %>
                                            <div class="mycoupons-status online"><span>באויר</span></div>
                                        <% } %>

                                        <% if (coupon.status === 'onHold' ) {  %>
                                            <div class="mycoupons-status waiting"><span>בטיפול</span></div>
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td data-t="description">תיאור</td>
                                    <td> <%- coupon.couponDescription %> </td>
                                </tr>
                                <tr class="even">
                                    <td data-t="validity">תוקף</td>
                                    <td> <%- dateFormat(coupon.dateTo) %> </td>
                                </tr>
                                <tr>
                                    <td data-t="credit_balance">יתרת זכות</td>
                                    <td> <%- coupon.maxBudget %> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mycoupons-nav">
                        <button id="details_but" data-id=<%- coupon._id %> data-t="details">לפרטים</button>
                        <div class="mycoupons-nav-icons">

                            <a id="updateCoupon" data-id=<%- coupon._id %>>
                                <i>e</i>
                                <span data-t="cp_edit_coupon">Edit benefit</span>
                            </a>

                            <a id="pauseCoupon" data-id=<%- coupon._id %>>
                                <i>g</i>
                                <span data-t=<% if (coupon.status === 'onAir' ) { %>cp_pause_coupon<% }  else { %>cp_unpause_coupon<% } %>>
                                    Pause benefit
                                </span>
                            </a>

                            <a class="mycoupon-menu-delete pop" id="deleteCoupon" data-id=<%- coupon._id %> >
                                <i>r</i><span data-t="cp_remove_coupon">Delete benefit</span>
                            </a>
                        </div>
                    </div>
                </section>
            <% }); %>
        <% } %>

        <% if (data.coupons.length === 0) { %>
            <section class="clearfix">
                <div class="c">
                    <a class="link alignleft goto_page" href="#main" data-t="home_page"></a>
                </div>
                <div class="c">
                    <h2 data-t="no_coupons"></h2>
                    <a class="btng goto_page" href="#create_coupon" data-t="create_coupon"></a>
                </div>
            </section>
        <% } %>
    </section>
</div>