<div class="main">
    <section class="clearfix">
        <a href="#payment" class="goback skip" style="float: none" data-t="create_new_payment"></a>
        <h2 data-t="choose_existing_pm">בחר אמצעי תשלום קיים</h2>
        <form>
            <fieldset id="cards_fieldset">
                <div class="checkbox">
                    <input name="payment" type="radio" id="card" name="card" /><label for="card" data-t="credit_card">כרטיס אשראי</label>
                </div>
                <select>
                </select>
            </fieldset>
            <fieldset>
                <div class="checkbox">
                    <input name="payment" type="radio" id="paypal" name="paypal" /><label for="paypal">PayPal</label>
                </div>
                <div class="mfp-hide white-popup" id="payp">
                    <div class="white-popup-buttons c">
                        <a class="confirm" href="#"><span data-t="i_accept_charge_amount">אני מאשר את חיוב הסכום</span> 854 ₪</a>
                        <a class="cancel" href="#" data-t="dc_cancel">ביטול</a>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <input type="submit" data-t-v="approve_this_payment" value="אישור שימוש באמצעי תשלום זה" />
            </fieldset>
        </form>
    </section>
</div>