<section class="clearfix">
    <h2 data-t="messages">Messages</h2>
    <div class="mymessages">

        <% data.messages.forEach(function(message) { %>
            <a class="message">
                <p><%-message.data%></p>
            </a>
        <% }); %>

        <% if (data.messages.length === 0) { %>
            <h2 data-t="no_messages">No messages</h2>
        <% } %>

    </div>
</section>
