<div class="main">
    <section class="clearfix">
        <h2 data-t="choose_pm">בחר אמצעי תשלום</h2>
        <form action="end.htm">
            <fieldset>
                <div class="tab-payment-choose">
                    <div class="half">
                        <div class="checkbox">
                            <input value="icard" type="radio" name="payment" id="card" />
                            <label for="card" data-t="credit_card">כרטיס אשראי</label>
                        </div>
                    </div>
                    <div class="half">
                        <div class="checkbox">
                            <input value="ipaypal" type="radio" name="payment" id="paypal" />
                            <label for="paypal" data-t="paypal_connection">PayPal</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="tab-payment" id="icard">
                <h2 data-t="credit_card">כרטיס אשראי</h2>
                <fieldset>
                    <label data-t="credit_card_type"></label>
                    <select class="customSelect" name="cardType">
                        <option data-t="cc_visa" value="visa"></option>
                        <option data-t="cc_master_card" value="mastercard"></option>
                        <!--<option data-t="cc_american_express" value="amex"></option>-->
                        <!--<option data-t="cc_diners_club" value="dinersclub"></option>-->
                        <!--<option data-t="cc_discover" value="dc"></option>-->
                        <!--<option data-t="cc_jcb" value="jcb"></option>-->
                    </select>
                </fieldset>
                <fieldset class="card_number_full">
                    <label data-t="cc_number"></label>
                    <div class="clearfix"></div>
                    <input style="direction: ltr" type="number" name="numberFull" class="creditCardNumberFull" maxlength="16" onkeypress="return numbersonly(this, event, 16)"/>
                </fieldset>
                <fieldset>
                    <label data-t="cc_expiring">תוקף כרטיס</label>
                    <div class="clearfix clear">
                        <div class="half">
                            <select name="expireMonth" class="customSelect">
                            </select>
                        </div>
                        <div class="half">
                            <select name="expireYear" class="customSelect">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label data-t="cc_cvv">קוד CVV</label>
                    <legend><a class="cvv" data-t="cc_what_is_cvv">מה זה?<div><img src="img/cvv.gif"></div></a></legend>
                    <input type="number" name="cvv" />
                </fieldset>
                <!-- <fieldset class="alert">
                    <span class="error" data-t="cc_wrong_cvv">המספר CVV שהזנת שגוי</span>
                </fieldset> -->
                <!--<fieldset>-->
                    <!--<label data-t="cc_card_owner_name">שם פרטי בעל הכרטיס</label>-->
                    <!--<input type="text" name="cardHolder" />-->
                <!--</fieldset>-->
                <fieldset>
                    <label data-t="cc_firstName">First Name</label>
                    <input type="text" name="firstName" />
                </fieldset>

                <fieldset>
                    <label data-t="cc_lastName">Last Name</label>
                    <input type="text" name="lastName" />
                </fieldset>
                <!--fieldset>
                    <label data-t="cc_card_owner_name">שם משפחה בעל הכרטיס</label>
                    <input type="text" />
                </fieldset-->
                <fieldset>
                    <label data-t="cc_social_security_number">מספר ת.ז.</label>
                    <input type="number" name="insuranceNumber" />
                </fieldset>
            </div>
            <div class="tab-payment" id="ipaypal">
                <a href="#" class="btnw">Connect Paypal Account</a>
                <h2 data-t="paypal_connected" style="display: none;" class="paypal-connected"></h2>
            </div>
            <h2 data-t="invoice_details"></h2>
            <fieldset>
                <label data-t="cc_company_name"></label>
                <input type="text" name="companyName" />
            </fieldset>

            <fieldset>
                <label data-t="email_for_invoice">דוא”ל לקבלת חשבונית</label>
                <input type="email" name="email" />
            </fieldset>
            <fieldset>
                <div class="checkbox">
                    <input type="checkbox" name="i_agree" id="i_agree" /><label for="i_agree" data-t="i_agree_invoice"></label>
                </div>
            </fieldset>
            <fieldset>
                <input type="submit" value="אישור אמצעי התשלום" data-t-v="confirm_payment_method" />
                <br/>
                <p class="payment_agree_to_receive_emails" data-t="payment_agree_to_receive_emails">ע''י לחיצה על אישור אמצעי התשלום, אני מסכים לקבל חשבונית דיגיטלית באמצעות הדוא''ל</p>
                <a href="javascript:void(0);" class="goback skip" data-t="skip">דלג</a>
            </fieldset>
        </form>
    </section>
</div>